nav {
    background-color: darkblue;
    padding: 10px;
}
nav a {
    color: #ffffff;
    display: block;
    padding: 20px;
}
h1 {
    color: darkblue;
}
img {
    width: 150px;
    height: auto;
    border:0.1px solid black;
    padding: 0px; 
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.07);
}
p {
    padding: 0px;
}

main {
    max-width: 822px;
    margin-left: 10px;
}
aside {
    width: 100%;
    max-width: 822px;
    margin: 0;
    border: 0px solid rgb(0 0 0 / 0.2);
    padding: 1px 8px;
    background-color: rgba(255, 255, 255, 0.526);
    color: rgb(0, 0, 0);
    text-align: left;
}
aside img {
    width: 200px;
    height: auto;
}
main img {
    width: 150px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}